version: "3"
services:
  finances-db:
    container_name: finances-db
    image: postgres:10.5-alpine
    environment:
      - "POSTGRES_DB=finances"
      - "POSTGRES_USER=root"
      - "POSTGRES_PASSWORD=root"
    ports:
      - "5432:5432"
